<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--   <class name="testscripts.Search_Hotel_Test"/>
      <class name="testscripts.Book_Hotel_Test"/> 
      <class name="testscripts.Hotel_Details_Test"/>  -->
    <class name="testscripts.BaseTest"/>  
    <class name="testscripts.Hotel_search_with_filters"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
